<div class="background">
  <div id="header">
    <h1 id="welcome">Welcome {{currentUser.name}}!</h1>
    <button (click)="logout()" class="button">Logout</button>
  </div>

  <div class="body">
    <h2 id="trips_header">Upcoming Trips!</h2>
    <div id="trip_table">
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Where to?</th>
            <!--<th>Whose Going?</th>-->
            <th>View?</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let trip of trips">
            <td>{{trip.start_date}} to {{trip.end_date}}</td>
            <td>{{trip.destination}}</td>
            <!--<td>{{trip.usersGoing}}</td>-->
            <td><a [routerLink]="['/show/trip/', trip._id]">Show Info</a></td>
          </tr>
        </tbody>
      </table>

      <div id="new_trip">
        <button class="button">Create a trip!</button>
      </div>
    </div>

    <div id="task_wishlist">
      <div class="inline-block">
        <h2 class="header">To-Do List!</h2>
        <div id="toDoList">
          <ol *ngFor="let task of allTasks">
            <li> {{task.taskText}} - {{task.priority}} Priority - <button class="button" (click)="completeTask(task)">Completed</button> </li>
          </ol>

          <div id="new_task">
            <form (submit)="newTask()">
              <label>Task Title:</label>
              <input type="text" name="title" [(ngModel)]="newTask.title" />
              <label id="taskDescription">Task Description:</label>
              <textarea name="description" [(ngModel)]="newTask.description">
                    </textarea>
              <label id="taskPriority">Task Priority: </label>
              <input type="text" name="priority" [(ngModel)]="newTask.priority" />
              <input type="submit" value="Create Task" class="button" />
            </form>
          </div>
        </div>
      </div>
    </div>

    <div id="footer">
      <div id="search-bar">
        <h3>Make a search for a location?</h3>
        <form (submit)="clickToSearch()">
          <input type="text" name="locationName" [(ngModel)]="searchTerm" />
          <input type="submit" value="Search" class="button"/>
        </form>
      </div>

      <div id="createALocation">
        <button class="button" [routerLink]="['/location/new']">Want to Create a New Location?</button>
      </div>
    </div>
  </div>
</div>

