<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<title>Home Page</title>
	
	
</head>
<body>
<button [routerLink] = "['/home']" class="button">Back to HomePage</button>
<button [routerLink] = "['/login']" class="button">Logout</button>
	<h1>What Location would you like to make a page for?</h1>
	
	<div id="new_location">
	<form (submit)="clickCreateLocation()">
		<p>
		<label>Location name: </label>
		<input type="text" [(ngModel)]="newLocation.name" >
		</p>
		
		<p>
		<label>Address (The entrance is best): </label>
		<input type="text" [(ngModel)]="newLocation.address"/>
		</p>
		
		<p>
		<label>Description: </label><br>
		<textarea rows="5" cols="23" [(ngModel)]="newLocation.description"></textarea>
		</p>
		
		<p>
		<label>Add a picture link: </label>
		<input type="text" [(ngModel)]="newLocation.url" >
		</p>
		
		<input class="button" type="submit" value="Create Location!" >
	</form>
	</div>
</body>
</html>
