<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<title>Home Page</title>
	
	
</head>
<body>
<button [routerLink] = "['/home']" class="button">Back to HomePage</button>
<button [routerLink] = "['/login']" class="button">Logout</button>
	<h1>What Location would you like to make a page for?</h1>
	
	<div id="new_location">
	<form (submit)="clickCreateLocation()">
		<p>
		<label>Location name: </label>
		<input type="text" name="name" [(ngModel)]="newLocation && newLocation.name" >
		</div>
		
		<div id="address">
		<label>Address (The entrance of the area is best, make sure it is correct!): </label>
		<input type="text" name="address" [(ngModel)]="newLocation && newLocation.address"/>
		</div>		
		<p>
		<label>Description: </label><br>
		<textarea rows="8" cols="30" name="description" [(ngModel)]="newLocation && newLocation.description"></textarea>
		</div>
		
		<div id="picture">
		<label>Add a picture link(Make sure your source is valid!): </label>
		<input type="text" name="url" [(ngModel)]="newLocation && newLocation.url" >
		</div>
		
		<input class="button" type="submit" value="Create Location!" >
	</form>
	</div>
</body>
</html>
